@page "/formproblem2"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>FormProblem2WithComponent @(OperatingSystem.IsBrowser() ? "WASM" : "SERVER")</h3>

<Register @rendermode="@(new InteractiveWebAssemblyRenderMode(false))" />


@code {

}
